// about text color
$atcolor: #FFF;

//SP用のブレークポイント
@mixin xs {
  @media print, screen and (max-width: 640px){
    @content;
  }
}
// SP以上のブレークポイント
@mixin sm {
  @media print, screen and (min-width: 641px) {
    @content;
  }
}
// pad限定ブレークポイント
@mixin md {
  @media print, screen and (min-width: 641px) and (max-width: 959px) {
    @content;
  }
}
// PC限定ブレークポイント
@mixin lg {
  @media print, screen and (min-width: 960px) {
    @content;
  }
}
#p-header {
  background-image: url(../img/headerbi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.p-header__top--title {
  color: #FFF;
  font-size: 70px;
  letter-spacing: 0.2rem;
}
// バーガーボタン
.u-nav-btn {
  display: inline-block;
  width: 36px;
  height: 28px;
  vertical-align: middle;
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 30px;
  z-index: 100;
  transition: all .5s;
  transform: translateX(0);
  > span {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #000;
    transition: all .5s;
    &:nth-of-type(1) {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 12px;
    }
    &:nth-of-type(3) {
      bottom: 0;
    }
  }
}
.u-nav-btn.active {
  transition: all .5s;
  transform: translateX(-312px);
}
.u-nav-btn.active span {
  background-color: #FFF;
  &:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg);
  }
  &:nth-of-type(2) {
    opacity: 0;
  }
  &:nth-of-type(3) {
    transform: translateY(-12px) rotate(45deg);
  }
}
// バーガーボタン
// ナビ横の透明
.overlay {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity .5s;
}
.overlay.open {
  width: 100%;
  height: 100%;
  opacity: 1;
}
// ナビ横の透明
.p-gNav {
  width: 312px;
  height: 100%;
  transition: all 0.5s;
  transform: translate(312px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  background-color: #1564B3;
}
.p-gNav.open {
   transform: translateZ(0);
  }
.p-gNav__list {
  list-style: none;
  font-size: 0;
  margin-bottom: 30px;
  >li {
    display: flex;
  }
}
.p-gNav__link {
  text-decoration: none;
  color: #FFF;
  font-size: 20px;
  padding: 20px;
}
.p-gNav-pic--wrap {
}
.p-gNav-pic {
  width: 100%;
}
#p-about {
  background-color: #0F79C0;
  height: 100vh;
}
.p-about__inner {
  margin: 0 auto;
}
.p-about__title--wrap {
  padding-top: 40px;
}
.p-about__title {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: $atcolor;
  letter-spacing: 0.2rem;
}
.p-about-contents {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 800px;
  margin: 40px auto 0;
}
.u-about-even {
  flex-flow: row-reverse;
}
.p-about__photo--wrap {
  max-width: 150px;
}
.p-about__photo {
  border-radius: 100%;
  width: 100%;
}
.p-about__skill--list {
  list-style: none;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.p-about__text {
  color: $atcolor;
  font-size: 20px;
  line-height: 1.5;
  &::before {
    font-family: "Font Awesome 5 Free";
    content: "\f14a";
    color: $atcolor;
    margin-right: 10px;
  }
  &:nth-child(odd) {
    margin-bottom: 10px;
  }
}
.p-about__like {
  text-align: center;
  margin-top: 30px;
}
.p-about__like--title {
  font-size: 30px;
  color: $atcolor;
  letter-spacing: 0.2rem;
}
.p-about__like--text {
  color: $atcolor;
  margin: 30px 0;
  letter-spacing: 0.2rem;
}
.p-about__like--list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.p-about__like--subtitle {
  font-size: 20px;
  color: $atcolor;
  margin-bottom: 20px;
}
.p-about__like--photo--wrap {
  display: flex;
  max-width: 200px;
  height: 200px;
  align-items: center;
  background-color: #FFF;
}
.p-about__like--photo {
  width: 100%;
  border-radius: 7px;
}
#p-work {
  background-image: url(../img/pomain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  @include lg {
    height: 100vh;
  }
}
.p-work__title {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  padding: 50px 0;
  color: #FFF;
}
.p-work__title--bg {
  background-color: rgba(00, 00, 00, 0.5);
  @include lg {
    background-color: rgba(00, 00, 00, 0);
  }
}
.p-work-inner-wrap {
  margin: 0 auto;
  max-width: 400px;
  @include lg {
    display: flex;
    justify-content: space-around;
    max-width: 950px;
  }
}
.p-work-inner {
  background-color: #FFF;
  max-width: 500px;
  border-radius: 10px;
  margin-top: 20px;
  &:first-child {
    margin-top: 0;
  }
  @include lg {
    margin-top: 0;
  }
}
.p-work-link {
  text-decoration: none;
  color: #000;
}
.p-work-subTitle {
  padding: 20px 0;
  text-align: center;
}
.p-work-image {
  width: 100%;
}
.p-work-text {
  padding: 20px 0;
  text-align: center;
  letter-spacing: 0.3px;
}
.p-footer-cr {
  text-align: center;
}
